.colores {
   color: rgb(241, 182, 182);
   font-size: 18px;
   font-family: 'Times New Roman', Times, serif;
}
.imagen {
   --border-radius: 7px;
   width: 70px;
   height: 70px;
}
ion-button {
   font-family: 'Times New Roman', Times, serif;
   font-size: 18px;
 }