<ion-header>
  <ion-toolbar>
    <ion-title>{{(mode=="New"?"modal.addPerson":"modal.modifyPerson") | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss()">{{'modal.close' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
    <ion-item>
      <ion-label position="floating">{{'peopleForm.name' | translate}}</ion-label>
      <ion-input type="text" placeholder="{{'people.name' | translate}}" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{'peopleForm.lastName' | translate}}</ion-label>
      <ion-input type="text" placeholder="{{'people.lastName' | translate}}" formControlName="lask name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{'peopleForm.nickname' | translate}}</ion-label>
      <ion-input type="text" placeholder="{{'people.nickname' | translate}}" formControlName="nick name"></ion-input>
    </ion-item>
    <ion-button [disabled]="!form.valid" type="submit">{{(mode=="New"?"modal.add":"modal.modify") | translate}}</ion-button>
  </form>
</ion-content>
