<ion-item-sliding #sliding [disabled]="!isLowResolution()">
  <ion-item>
    <ion-avatar class="imagen">
      <ion-img *ngIf="!getPersona()?.img" src="https://drive.google.com/uc?export=view&id=1nbdkul4gsWioCH8qloyiHXZ74J6ZiQrA"></ion-img>
      <ion-img *ngIf="getPersona()?.img" [src]="getPersona().img"></ion-img>
    </ion-avatar>

    <ion-avatar class="imagen">
    <ion-img *ngIf="!getTarea()?.img" src="https://drive.google.com/uc?export=view&id=1i9nM4zsSBiIs9kyFFCBef9Qx0Zb8LuHl"></ion-img>
    <ion-img *ngIf="getTarea()?.img" [src]="getTarea().img"></ion-img>
  </ion-avatar>
  
    <ion-label>{{getPersona()?.apodo}} </ion-label>
    <ion-label>{{getTarea()?.nombre}}: {{getTarea()?.tiempo}}</ion-label>

    <ion-label class="ion-text-center ion-text-wrap">{{assignment.dateTime | date:'short'}}</ion-label>

    <ion-icon name="swap-horizontal" *ngIf="isLowResolution()"></ion-icon>
    <ion-button *ngIf="!isLowResolution()" slot="end" fill="clear" (click)="onEditClick(sliding)" expand="block" fill="clear" shape="round">
      <ion-icon  name="create-sharp"></ion-icon>
    </ion-button>
    
    <ion-button *ngIf="!isLowResolution()" slot="end" fill="clear" (click)="onDeleteClick(sliding)" expand="block" fill="clear" shape="round">
      <ion-icon  name="trash-sharp"></ion-icon>
    </ion-button>

  </ion-item>

  <ion-item-options>
    <ion-item-option (click)="onEditClick(sliding)">
      <ion-icon slot="top" name="create" ></ion-icon>
      {{'Editar' | uppercase}}
    </ion-item-option>
    <ion-item-option (click)="onDeleteClick(sliding)" color="danger">
      <ion-icon slot="top" name="trash" ></ion-icon>
      {{'Borrar' | uppercase}}
    </ion-item-option>
  </ion-item-options>

</ion-item-sliding>
