<ion-header>
  <ion-toolbar>
    <ion-title class="title_persona"><span><strong><u>Personas</u></strong></span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <app-persona *ngFor="let persona of getPersonas()" [personas]="persona"></app-persona>
  </ion-list>
  <br><br>
  <ion-button shape="round" color="medium" id="button-" [routerLink]="['/home']">Volver</ion-button><br>
</ion-content>
