ion-menu::part(backdrop) {
  background-color: rgba(255, 0, 255, 0.5);
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;

  box-shadow: 4px 0px 16px rgba(255, 0, 255, 0.18);
}
#button-home {
  width:15em;  
}
.menuu {
  text-align: center;
}
.title_home {
  background-image: url('https://img.freepik.com/fotos-premium/fondo-textura-papel-viejo-estilo-vintage-pagina-periodico-espacio-texto-pueden-usar-diseno-papel-tapiz_218148-526.jpg?w=2000');
  height: 5rem;
  border-radius: 20px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
  color: rgb(50, 107, 107);
  background-repeat: no-repeat;
}
