ion-menu::part(backdrop) {
  background-color: rgba(255, 0, 255, 0.5);
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;

  box-shadow: 4px 0px 16px rgba(255, 0, 255, 0.18);
}

#button-home {
  text-align: center;
  margin-left: 5%;
  width:15em;
}
.title_home {
  background-image: url('https://media.istockphoto.com/id/1279243899/es/v%C3%ADdeo/animaci%C3%B3n-de-fondo-limpia-suave-y-brillante-dise%C3%B1o-abstracto-de-movimiento-hermoso-c%C3%ADrculo.jpg?b=1&s=640x640&k=20&c=n10BtGdGlImGQ_k_I9WVpszcuGIH4GgkpHxk_YM7acY=');
  height: 100px;
  border-radius: 20px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 3rem;
  color: rgb(50, 107, 107);
}
