<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-button shape="default" color="medium" id="button-home" [routerLink]="['/personas']">PERSONAS</ion-button><br>
      <ion-button shape="default" color="medium" id="button-home" [routerLink]="['/tareas']">TAREA</ion-button><br>
      <ion-button shape="default" color="medium" id="button-home" [routerLink]="['/asignar-tarea']">ASIGNAR TAREA</ion-button>
      <ion-button shape="default" color="medium" id="button-home" [routerLink]="['/asignar-tarea']">VER TAREA</ion-button>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>GESTION DE TAREAS</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      
    </ion-content>
  </div>
</ion-app>
      
 
    <br><br> <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <ion-footer>
      <ion-toolbar>
        <ion-title>Footer</ion-title>
      </ion-toolbar>
    </ion-footer>