#button- {
   text-align: center;
   margin-left: 32%;
   width:8em;
}
.title_tarea {
   background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v546batch3-mynt-34-badgewatercolor_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=89288ef4b47127f7f34a5998b50e4470');
   height: 100px;
   border-radius: 20px;
   text-align: center;
   font-family: 'Times New Roman', Times, serif;
   font-size: 3rem;
   color: rgb(50, 107, 107);
}