<ion-header>
  <ion-toolbar>
    <ion-title>AsignarTarea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-assignments  
  *ngFor="let assignment of getAssignments()" 
  [assignment]="assignment" 
  [persona]="getPersonaById(assignment.personaId)" 
  [tarea]="getTareaById(assignment.tareaId)" ></app-assignments>
  
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <ion-button shape="round" color="medium" id="button-" [routerLink]="['/home']">Volver</ion-button><br>
</ion-content>
